@{
    ViewBag.Title = "About Beverage Incorporated";
}
<h2>@ViewBag.Title.</h2>

<p style="width: 50em; line-height:2em;">Beverage Incorporated was first conceived in the year 2000 BCE in the Hellenic Peninsula, with the invention of the
    first alcoholic beverage: wine.  Fermented beverages became widespread across Greece and other countries, as Beverage Inc. expanded its
    markets.  By 1700 BCE, wine making was commonplace, with Beverage Inc. having a patent on all fermented/alcoholic beverages.  With the popularity
    of alcohol growing around the world, Beverage Inc. became a trusted and beloved "partner of the people," spreading its wings far and wide until it
    reached the new world.  By 1776 CE, Beverage Inc. was the largest and longest running empire in human history, with distilleries, farms, shops, and 
    business locations in every country on every continent (including Greenland for a short period!).  Due to the popularity among people to drink
    anything but water, Beverage Inc. was able to expand unincumbered by lack of funds.  Their stock today is currently the highest on the DOW with a
    record value of 250,000 points.</p>