@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Beverage Incorporated</h1>
    <p class="lead">America's leading Beverage manufacturer and distributor.</p>
    <p><a href="http://dakotashapiro.info" class="btn btn-primary btn-lg" target="_blank">Site Modified by Dakota Shapiro</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Start buying and selling beverages today!</p>
        <p><a class="btn btn-default" href="/Account/Register">Register &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn More</h2>
        <p><a class="btn btn-default" href="/home/about">About us! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>